<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class Clock</title>

    <!-- Bootstrap -->
    <link href="<?= base_url('assets/css/bootstrap.min.css')?>" rel="stylesheet">

    <!-- Style -->
    <link href="<?= base_url('assets/css/style.css')?>" rel="stylesheet">
	
		 <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
		

</head>

<body>

    <div class="container-fluid">
        <div class="row hidden-print">
            <header class="col-xs-12 col-sm-12">
                <div class="col-xs-6 col-sm-3">
                    <a href="">
                        <img class="img-responsive center-block navbar-brand" src="<?= base_url('assets/img/logo-white.png')?>">

                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 pull-right">
                    <a href=""><img class="img-responsive ifsp-logo center-block pull-right" src="<?= base_url('assets/img/ifsp.png')?>"></a>
                </div>
            </header>
        </div>
        <div class="row">
            <div class="text-right users">
                <ul class="nav">
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle usuario">
                            Usuário <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Meu perfil</a></li>
                            <li class="divider"></li>
                            <li><a href=""><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 sidebar collapsed-canvas hidden-print" id='sidebar'>
               <ul class="nav nav-pills nav-stacked">
                   <li class="active">
                       <a href="">
                           <span class="glyphicon glyphicon-home"></span> <span class='sidebar-label'>Home</span>
                       </a>
                   </li>
                   <li class="">
                       <a href="">
                           <span class="glyphicon glyphicon-time"></span> <span class='sidebar-label'>Turnos</span>
                       </a>
                   </li>

                   <li class="">
                       <a href="">
                           <span class="glyphicon glyphicon-education"></span> <span class='sidebar-label'>Cursos</span>
                       </a>
                   </li>
                   <li class="">
                       <a href="">
                           <span class="glyphicon glyphicon-calendar"></span> <span class='sidebar-label'>Semestres</span>
                       </a>
                   </li>
                   <li class="">
                       <a href="">
                           <span class="glyphicon glyphicon-user"></span> <span class='sidebar-label'>Funcionários</span>
                       </a>
                   </li>
                   <li class="">
                       <a href="">
                           <span class="glyphicon glyphicon-briefcase"></span> <span class='sidebar-label'>Instituição</span>
                       </a>
                   </li>
                   <li class="">
                       <a href="">
                           <span class="glyphicon glyphicon-duplicate"></span> <span class='sidebar-label'>FPA</span>
                       </a>
                   </li>
               </ul>
           </div>
		   
		   
		 <div class="container col-xs-12 col-sm-12 col-md-10 col-lg-10">
		 
							
						<div class="row">
							<div class="col-md-12">
								<form method="post">
										<div class="row">	
											<div class="col-xs-12 col-sm-12 col-md-11 form-group">
										
												<label>Nome:</label>
												<input class="form-control" placeholder="Nome" name="nome" id="nome" maxlength="20" required>
												
											</div>
										</div>
										<div class="row">
										  <div class="col-md-3 margin-top-error">
											<?= form_error('nome') ?>
										  </div>
										</div>

										<div class="row">
											<div class="form-group col-sm-3 col-md-2">
											<label>Sigla</label>
												<input class="form-control" placeholder="ex: ADS" name="sigla" id="sigla" maxlength="3" required>
																		
											</div>
										</div>

										<div class="row">
										  <div class="col-md-3 margin-top-error">
											<?= form_error('sigla') ?>
										  </div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm-3 col-md-2">
											<label>Codigo</label>
												<input class="form-control" placeholder="ex: 123" type="number" name="codigo" id="codigo" required>
																		
											</div>
										</div>

										<div class="row">
										  <div class="col-md-3 margin-top-error">
											<?= form_error('codigo') ?>
										  </div>
										</div>


										<div class="row">
											<div class="form-group col-sm-3 col-md-2">
												<label>Quantidade de semestres</label>
												<input class="form-control" placeholder="ex: 2" type="number" name="qtdSemestres" id="qtdSemestres" maxlength="2" required>
												
											</div>
										</div>

										<div class="row">
										  <div class="col-md-3 margin-top-error">
											<?= form_error('qtdSemestres') ?>
										  </div>
										</div>

										
										<div class="row">
										<div class="form-group col-sm-5 col-md-4">
											<label>modalidade</label>
											<?= form_dropdown('modalidade', $graus, set_value('modalidade'), array('class' => 'form-control')) ?>
										  </div>
										</div>

										<div class="row">
										  <div class="col-md-3 margin-top-error">
											<?= form_error('modalidade') ?>
										  </div>
										</div>
										
											
							</div>
										<div class="col-xs-12 col-sm-12 col-md-12 form-group">
											<button type="submit" class="btn btn-primary btn-lg active" >Cadastrar</button>
										</div>

								</form>
						</div>
					
					
					
					
				
		</div>
		   
		   
				<footer class="text-center">
			 <div class="container">
					 <p>

							 IFSP
					 </p>
					 <p>
							 123 - CEP: 15161-216 - Telefone: +55 (16) 5122-0626
					 </p>
					 <p class="text-center">
							 Desenvolvimento ACME & Brains Working
					 </p>
			 </div>
	 </footer>
	 <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
	 	 <script type="text/javascript" src="bootstrap.min.js"></script>
	 <script src="<?= base_url('assets/js/jquery-3.1.1.min.js')?>"></script>
	 <script src="<?= base_url('assets/js/bootstrap.min.js')?>"></script>
</body>

</html>
