#header{
	float: left;
	width: 100%;
	padding: 15px 30px 5px 10px;
}

#sidebar{
	background-color: #F2F9E8;
	padding: 10px;
	height: 100%;
	float: left;
}

#sidebar h2{
	text-align: center;
}

#sidebar a{
	color: #68B92E;
}

#sidebar>.nav-pills>li>a:hover{
	color: #FFF;
	background-color: #68B92E;
}

#sidebar>.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	color: #FFF;
	background-color: #4CAF50;
}

#content{
	background-color: #FFF;
	padding: 10px;
	float: left;
}

#content h1{
	text-align: center;
}

#content a{
	color: #68B92E;
}

/* Isso muda a cor dos 'botoes' do bootstrap nav-pills em #content */
#content>.nav-pills>li>a:hover{
	color: #FFF;
	background-color: #68B92E;
}

/* Isso muda a cor dos 'botoes' 'ativos' do bootstrap nav-pills em #content */
#content>.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	color: #FFF;
	background-color: #4CAF50;
}

#footer{
	color: #E6E6E6;
	text-align: center;
	overflow: hidden;
	margin-top: 10%;
}

 ul#disciplinaTable-view{
	margin: 0 0 0 -20px;
}

/* Redefine o tamanho do logo */
.logo{
	height: 100px;
}

.logoClassClock{
	height: 200px;
}

/*tamanhos em porcentagem para qualquer bloco*/
.disc{
    width: 300px;
}
.disc button{
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
}

/*faz com que os blocos se alinhem*/
.inline{
	display: inline-block;
}

.block{
	display: block;
}

.padding-15-lr{
	padding:0 15px;
}

/*Alteração da cor da fonte do cabeçalho usado no multi-select*/
.multiselect{
	color: #4CAF50;
}

.margin-top-error{
	margin: -15px 0 0 0;
}

/*Alteração da tabela Grade*/
.dsemana {
     text-align: center; 
     color: #68B92E;  
     background-color: #F2F9E8;
    
}

